<div class="dashboard-card">
  <div class="card-head">
    <img
      [src]="'https://image.tmdb.org/t/p/w200/' + item.poster_path"
      [alt]="item.original_title"
      *ngIf="item.poster_path"
    />
    <img
      [src]="'https://picsum.photos/150/220'"
      [alt]="item.original_title"
      *ngIf="!item.poster_path"
    />
  </div>

  <div class="card-body">
    <div class="card-body-head">
      <h4>{{ item.original_title || item.original_name }}</h4>
      <span>{{ item.vote_average }}</span>
    </div>
    <div class="card-body-info">
      <span>2 horas</span>
      <span>{{ item.release_date || item.first_air_date }}</span>
      <span>{{ item.genre_ids }}</span>
    </div>
    <div class="card-body-text">
      <p>{{ item.overview }}</p>
    </div>

    <div class="card-body-actions">
      <div>
        <button (click)="handleModal(item.id)">Ver Trailer</button>
      </div>
      <div
        (click)="addFavorites(item)"
        class="card-body-fav"
        *ngIf="!isFavoritePage"
      >
        <span>Favoritos </span>
        <span>❤</span>
      </div>
      <div (click)="removeFavorites(item)" *ngIf="isFavoritePage">
        <span>Remover</span>
        <span>🙁</span>
      </div>
    </div>
  </div>
</div>
