section:first-of-type {
  display: grid;
}

section:first-of-type input {
  border: none;
  background-color: #F3F6F7;
  padding: 20px;
  font-size: 20px;
}

section:first-of-type input::placeholder {
  color: #BDCACF;
}

section:last-of-type {
  display: grid;
  grid-template-columns: minmax(auto, 1250px);
  justify-content: center;
}

.dashboard-options {
  display: flex;
  justify-content: left;
}

.dashboard-options div {
  display: grid
}

.dashboard-options div label {
  margin: 10px 0;
}

.dashboard-options div:last-of-type {
  margin-left: 60px;
}

.dashboard-options div select {
  border: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  margin-bottom: 40px;
  padding: 7px 20px;
}

.dashboard-options div:first-of-type select {
  width: 100px;
}

.dashboard-options div:last-of-type select {
  width: 200px;
}

.dashboard-body {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-gap: 25px;
}

.dashboard-card {
  display: grid;
  grid-template-columns: .3fr 7fr;
  box-shadow: 0 0 1px 1px  rgba(0, 0, 0, .2);
}

.dashboard-card .card-head:first-of-type {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.dashboard-card .card-head:first-of-type img {
  width: auto;
  height: auto;
  max-width: 180px;
  max-height: 220px;
  object-fit: cover;
  transition: all .5s;
}

.card-body {
  padding: 17px;
}

.card-body .card-body-head {
  display: grid;
  grid-template-columns: .9fr .1fr;
  align-items: center;
  margin-bottom: 10px;
  color: #7A8E94;
}

.card-body .card-body-head h4 {
  margin: 0;
  width: 290px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body .card-body-info {
 display: grid;
 grid-template-columns: repeat(3, minmax(auto, 1fr));
 text-align: center;
 font-size: 12px;
}

.card-body .card-body-info span {
  border-right: 1px solid #000;
}

.card-body .card-body-info span:last-of-type {
  border: none;
}

.card-body .card-body-text {
  height: 80px;
  margin: 13px 0;
  font-size: 15px;
  overflow: hidden;
  text-overflow:ellipsis;
  color: #7A8E94;
}

.card-body .card-body-actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.card-body .card-body-actions button {
  cursor: pointer;
  background-color: #fff;
  padding: 7px 10px;
  color: #0ABFFE;
  border: 1px #0ABFFE solid;
  border-radius: 7px;
}

.card-body .card-body-actions span {
  cursor: pointer;
  color: #b4b4b4
}

.dashboard-without {
  text-align: center
}

.dashboard-footer {
  display: flex;
  justify-content: center;
}

.dashboard-footer div {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 7px;
  margin: 10px;
  border: 1px #0ABFFE solid;
}