<section>
  <div class="header">
    <h2>Descubra nuevas películas y programas de televisión</h2>
  </div>
  <div class="dashboard-options">
    <div>
      <label>Año</label>
      <select name="">
        <option value="2016">2016</option>
        <option value="2016">2016</option>
        <option value="2016">2016</option>
        <option value="2016">2016</option>
        <option value="2016">2016</option>
      </select>
    </div>
    <div>
      <label>Género</label>
      <select name="">
        <option value="accion">accion</option>
        <option value="accion">accion</option>
        <option value="accion">accion</option>
        <option value="accion">accion</option>
        <option value="accion">accion</option>
      </select>
    </div>
  </div>
  <div class="dashboard-body">
    <div class="dashboard-card" *ngFor="let item of data">

      <div class="card-head">
        <img [src]="'https://image.tmdb.org/t/p/w200/' + item.poster_path" [alt]="item.original_title">
      </div>

      <div class="card-body">
        <div class="card-body-head">
          <h4>{{item.original_title}}</h4>
          <span>{{item.vote_average}}</span>
        </div>
        <div class="card-body-info">
          <span>2 horas</span>
          <span>{{item.release_date}}</span>
          <span>{{item.genre_ids}}</span>
        </div>
        <div class="card-body-text">
          <p>{{item.overview}}</p>
        </div>
        <div class="card-body-actions">
          <div>
            <button>Ver Trailer</button>
          </div>
          <div>
            <span>Ver trailer</span>
            <span>>3</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>