.dashboard-header h1 {
  color: #7A8E94;
  font-weight: 400;
  font-size: 23px;
}

section:first-of-type {
  display: grid;
}

section:first-of-type input {
  border: none;
  background-color: #F3F6F7;
  padding: 20px;
  font-size: 20px;
}

section:first-of-type input::placeholder {
  color: #BDCACF;
}

section:last-of-type {
  display: grid;
  grid-template-columns: minmax(auto, 1250px);
  justify-content: center;
}

.dashboard-options {
  display: flex;
  justify-content: left;
}

.dashboard-options div {
  display: grid
}

.dashboard-options div label {
  margin: 10px 0;
}

.dashboard-options div:last-of-type {
  margin-left: 60px;
}

.dashboard-options div select {
  border: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  margin-bottom: 40px;
  padding: 7px 20px;
}

.dashboard-options div:first-of-type select {
  width: auto;
  max-width: 100px;
}

.dashboard-options div:last-of-type select {
  width: 350px;
}

.dashboard-body {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-gap: 25px;
}

.dashboard-card {
  display: grid;
  grid-template-columns: .3fr 7fr;
  box-shadow: 0 0 1px 1px  rgba(0, 0, 0, .2);
  transition: .2s ease;
}

.dashboard-card:hover {
  box-shadow: 0 0 20px 1px  rgba(0, 0, 0, .2);
  transform: scale(1.02);
}

.dashboard-card .card-head:first-of-type {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.dashboard-card .card-head:first-of-type img {
  width: auto;
  height: auto;
  max-width: 180px;
  max-height: 220px;
  object-fit: cover;
  transition: all .5s;
}

.card-body {
  position: relative;
  padding: 17px;
  z-index: -1;
}

.card-body .card-body-head {
  display: grid;
  grid-template-columns: .9fr .1fr;
  align-items: center;
  margin-bottom: 10px;
  color: #7A8E94;
}

.card-body .card-body-head h4 {
  margin: 0;
  width: auto;
  height: auto;
  max-width: 290px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body .card-body-info {
 display: grid;
 grid-template-columns: repeat(3, minmax(auto, 1fr));
 text-align: center;
 font-size: 12px;
}

.card-body .card-body-info span {
  border-right: 1px solid #000;
}

.card-body .card-body-info span:last-of-type {
  border: none;
}

.card-body .card-body-text {
  height: 80px;
  width: 400px;
  margin: 13px 0;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7A8E94;
  background-color: #fff;
  transition: .2s ease;
}

.card-body .card-body-text:hover {
  position: absolute;
  height: auto;
  top: 54px;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px  rgba(0, 0, 0, .2);
  transform: scale(1.05);
}

.card-body .card-body-actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.card-body .card-body-actions button {
  cursor: pointer;
  background-color: #fff;
  padding: 7px 10px;
  color: #0ABFFE;
  border: 1px #0ABFFE solid;
  border-radius: 7px;
  transition: 0.3s ease;
}

.card-body .card-body-actions button:hover {
  background-color: #0ABFFE;
  color: #fff;
  border: 1px #0ABFFE solid;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .2);
}

.card-body .card-body-actions button:active {
  background-color: #0270E7;
  border: 1px #0270E7 solid;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .2);
}

.card-body .card-body-actions span {
  cursor: pointer;
  color: #b4b4b4
}

.card-body-fav:hover span {
  color: #ff4949 !important
}

.card-body-fav:active span {
  color: #ff0000 !important
}

.dashboard-without {
  text-align: center
}

.dashboard-footer {
  display: flex;
  justify-content: center;
}

.dashboard-footer div {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 7px;
  margin: 10px;
  border: 1px #0ABFFE solid;
  transition: 0.3s ease;
}

.dashboard-footer div:hover {
  background-color: #0ABFFE;
  color: #fff;
  border: 1px #0ABFFE solid;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .2);
}

.dashboard-footer div:active {
  background-color: #0270E7;
  border: 1px #0270E7 solid;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .2);
}

.dashboard-modal {
  position: fixed;
  z-index: 1;
  padding-top:100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.dashboard-modal-content {
  margin: auto;
  padding: 20px;
  width: 70%;
}

.dashboard-modal-header {
  display: grid;
  grid-template-columns: .9fr .1fr;
  align-items: center;
}

.dashboard-modal-header h2 {
  margin: 0;
}

.dashboard-modal-header button {
  cursor: pointer;
  color: #fff;
  font-size: 50px;
  background: none;
  border: none;
}

.dashboard-modal-body iframe {
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 60vh;
}

@media (max-width: 1125px) {
  .dashboard-body {
    grid-gap: 25px 2px;
  }
}

@media (max-width: 1004px) {
  section:last-of-type {
    grid-template-columns: minmax(auto, 90%);
  }

  .dashboard-body {
    grid-template-columns: minmax(auto, 1fr)
  }
}

@media (max-width: 600px) {

  .dashboard-options div:last-of-type select {
    width: auto;
  }

  .dashboard-modal-content {
    width: 90%;
  }
}

@media (max-width: 441px) {

  .dashboard-options {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }

  .dashboard-card .card-head:first-of-type img {
    max-width: 40vw;
  }
}