<section>
  <input type="text" placeholder="Search for a movie, series and videos" [formControl]="name" (ngModelChange)="handleChange($event)" >
</section>

<section>
  <div>
    <h2>Descubra nuevas películas y programas de televisión</h2>
  </div>
  
  <div class="dashboard-options">
    <div>
      <label>Año</label>
      <select [formControl]="year" (ngModelChange)="handleFilters()">
        <option value="" selected>2019</option>
        <option value="2018" >2018</option>
        <option value="2017" >2017</option>
        <option value="2016" >2016</option>
        <option value="2015" >2015</option>
        <option value="2014" >2014</option>
        <option value="2013" >2013</option>
        <option value="2012" >2012</option>
        <option value="2011" >2011</option>
        <option value="2010" >2010</option>
        <option value="2009" >2009</option>
      </select>
    </div>
    <div>
      <label>Género</label>
      <select [formControl]="genero" (ngModelChange)="handleFilters()">
        <option value="" disabled selected>Select your option</option>
        <option [value]="genre.id" *ngFor="let genre of genres" >{{genre.name}}</option>
      </select>
    </div>
  </div>

  <div class="dashboard-body" *ngIf="data">
    <div class="dashboard-card" *ngFor="let item of data">

      <div class="card-head">
        <img [src]="'https://image.tmdb.org/t/p/w200/' + item.poster_path " [alt]="item.original_title" *ngIf="item.poster_path">
        <img [src]="'https://picsum.photos/150/220'" [alt]="item.original_title" *ngIf="!item.poster_path">
      </div>

      <div class="card-body">
        <div class="card-body-head">
          <h4>{{item.original_title || item.original_name}}</h4>
          <span>{{item.vote_average}}</span>
        </div>
        <div class="card-body-info">
          <span>2 horas</span>
          <span>{{item.release_date || item.first_air_date}}</span>
          <span>{{item.genre_ids}}</span>
        </div>
        <div class="card-body-text">
          <p>{{item.overview}}</p>
        </div>
        <div class="card-body-actions">
          <div>
            <button>Ver Trailer</button>
          </div>
          <div>
            <span>Ver trailer</span>
            <span>>3</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="dashboard-without" *ngIf="!data">
    <h2>Un momento por favor</h2>
  </div>

  <div class="dashboard-footer">
    <div (click)="handlePage(0)">
      <span>⬅</span>
    </div>
    <div (click)="handlePage(1)">
      <span>➡</span>
    </div>
  </div>
</section>