nav {
  display: grid;
  grid-template-columns: minmax(auto, 1220px);
  justify-content: center;
  background-color: rgba(255, 255, 255, .9);
}

nav section {
  display: grid;
  grid-template-columns: minmax(auto, .9fr) repeat(3, .1fr);
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
}

nav section img {
  height: 40px;
  width: 180px;
}

nav section a {
  text-decoration: none;
  color: #9AAFB7;
}

nav section a:hover {
  color: #4ed3ff;
  border-bottom: 2px solid #4ed3ff;
}

nav section a:active {
  color: #0ABFFE;
  border-bottom: 2px solid #0ABFFE;
}

.active {
  color: #0ABFFE !important;
  border-bottom: 2px solid #0ABFFE;
}

nav section div:first-of-type a:hover {
  border: none;
}

nav section div:first-of-type a:active {
  border: none;
}