<app-search
  *ngIf="!isFavoritePage"
  page="home"
  (sendName)="handleSearch($event)"
></app-search>

<section>
  <div class="dashboard-header">
    <h1>Descubra películas y programas de televisión</h1>
  </div>

  <div class="dashboard-options">
    <div>
      <label>Año</label>
      <select [(ngModel)]="year" (ngModelChange)="handleFilters()">
        <option value="2020" selected>2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
      </select>
    </div>
    <div>
      <label>Género</label>
      <select [(ngModel)]="genero" (ngModelChange)="handleFilters()">
        <option value="" selected>Selecciona una categoría</option>
        <option [value]="genre.id" *ngFor="let genre of genres">{{
          genre.name
        }}</option>
      </select>
    </div>
  </div>

  <div class="dashboard-body" *ngIf="data">
    <app-card
      [item]="item"
      [isFavoritePage]="isFavoritePage"
      *ngFor="let item of data"
      (openModal)="openModal($event)"
      (refresh)="getData()"
    ></app-card>
  </div>

  <div class="dashboard-without" *ngIf="!data">
    <h2>Un momento por favor</h2>
  </div>

  <div class="dashboard-without" *ngIf="!data && isFavoritePage">
    <h2>No tienes favoritos aún</h2>
  </div>

  <div class="dashboard-footer" *ngIf="!isFavoritePage">
    <div (click)="handlePage(0)">
      <span>⬅</span>
    </div>
    <div (click)="handlePage(1)">
      <span>➡</span>
    </div>
  </div>

  <app-modal
    [modal]="modal"
    (closeEvent)="closeModal()"
    [videoModal]="videoModal"
  ></app-modal>
</section>
