section:first-of-type {
  display: grid;
}

section:first-of-type input {
  border: none;
  background-color: #e3fdff;
  padding: 20px;
  font-size: 20px;
}

section:first-of-type input::placeholder {
  color: #a3aeb3;
  text-align: center;
}
